# LLM + Embeddings
transformers==4.39.0
sentence-transformers==2.6.1
accelerate==0.26.1

# CPU versions only (Streamlit Cloud doesn't support CUDA)
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0

# LangChain ecosystem
langchain==0.1.14
langchain-community==0.0.31
# langchain-huggingface==0.0.3   <-- removed due to conflict

# Vector store
faiss-cpu==1.7.4

# Streamlit app
streamlit==1.33.0

# ML utility
scikit-learn==1.4.1.post1
google-generativeai
pydantic<2
python-dotenv